<h1>This is the index.</h1>

<div id="answers">
</div>


<script type="text/javascript">
  for (i = 0; i <= 100; i++) {
    answer = i;
    fizz_buzz = $.ajax('/number/' + i)
    $('#answers').after
  }
</script>

